[submodule "bundle/targets.vim"]
	path = bundle/targets.vim
	url = git://github.com/wellle/targets.vim.git
[submodule "bundle/vim-qml"]
	path = bundle/vim-qml
	url = https://github.com/peterhoeg/vim-qml
[submodule "bundle/vim-solidity"]
	path = bundle/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
