[submodule "bundle/targets.vim"]
	path = bundle/targets.vim
	url = git://github.com/wellle/targets.vim.git
[submodule "bundle/vim-qml"]
	path = bundle/vim-qml
	url = https://github.com/peterhoeg/vim-qml
[submodule "bundle/vim-solidity"]
	path = bundle/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "bundle/vim-highlightedyank"]
	path = bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "bundle/vim-swap"]
	path = bundle/vim-swap
	url = https://github.com/machakann/vim-swap
[submodule "bundle/vim-mark"]
	path = bundle/vim-mark
	url = https://github.com/inkarkat/vim-mark
[submodule "bundle/vim-ingo-library"]
	path = bundle/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library
[submodule "bundle/highlightMarks"]
	path = bundle/highlightMarks
	url = https://github.com/Tumbler/highlightMarks
